.container{
    width: 1000px;
    height: 700px;
    margin:auto;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px grey;
    padding: 30px
}

body{
    background-image: url(./background.jpg);
    background-size: cover;
}

h1{
    color: darkcyan;
    font-family: sans-serif;
}

input[type="text"]{
    width: 700px;
    font-family: 'sans-serif';
    margin-bottom: 25px;
    margin-top: 25px;
    border: none;
    border-bottom: 1px solid gray;
    font-size: 15px;
}