body{
    background-image: url(background.jpg);
    background-size: cover;
}
.signUpContainer{
    width: 60%;
    height: 600px;
    background-color:white;   
    margin: auto;
    margin-top: 50px;
    box-shadow: 0px 0px 10px grey;
}
#avatar {
    margin: 60px 120px 20px 100px;
    font-size: 60px;
    color: darkcyan;
}
h2 {
    font-family: sans-serif;
    font-size: 20px;
    color: darkcyan;
}
form {
    float: right;
    margin: 60px 120px 20px 100px;
    font-family: sans-serif;
}
input[type="text"], input[type="password"]  {
    width: 250px;
    margin-bottom: 10px;
    margin-top: 25px;
    border: none;
    border-bottom: 1px solid gray;
    font-size: 15px;
}
label[type="checkbox"] {
    margin-bottom: 25px;
}
#submit {
    width: 150px;
    height: 30px;
    border-width: 2px;
    border-color: white;
    border-style: groove;
    border-radius: 30px;
    align-content: center;
    text-align: center;
    color: white;
    font-family: sans-serif;
    background-color: darkcyan;   
}
.colored-left{
    width: 45%;
    height: 600px;
    background-image: linear-gradient(darkcyan, #2F4F4F); 
    float: left;
}
.welcome{
    width: auto;
    margin: 200px 50px 20px 50px;
    color: white;
    font-family: sans-serif;
    font-size: 40px;
}
.button{
    width: 150px;
    height: 30px;
    margin: 50px 125px 20px 125px;
    border-width: 2px;
    border-color: white;
    border-style: groove;
    border-radius: 30px;
    align-content: center;
    text-align: center;
    color: white;
    font-family: sans-serif;
    background-color: darkcyan;   
}